[2016-08-29 17:54] TheLarkInn opened #1 "Consider moving this into webpack/webpack?"
Hey!!! My name is Sean, and I'm one of the core maintainers for webpack. By the way, nice job on creating something so quickly after the release of babili.

Since webpack already owns UglifyJSPlugin, I'd love to see this also moved into our organization, whether it be added as core code, or a repo underneath the org.

The webpack team wants to have optimization stuff as much "Out of the box" as po

[2016-08-29 18:11] boopathi commented on #1
Sure. I don't have any concerns where the code lies. I can send a PR.

There are a few concerns that I think should be considered -

1. name: https://github.com/babel/babili/issues/124
2. whether this plugin is the best way to add minification to build pipeline - https://github.com/babel/babel.github.io/pull/898#discussion_r76562069 . Either way this plugin will be useful. Also, any help should be

[2016-08-29 19:12] TheLarkInn commented on #1
Awesome I'd like to discuss with the core team first their thoughts. I'll followup with you in about a week. Again thank you for the work and flexibility.

[2016-09-22 04:28] gcphost opened #3 "Configurable transformer, plugins and presets."
Hi

Thanks for the plugin.

I am using Angular 2 Final and can't use all of the plugins listed in `babel-preset-babili` so it would be nice to have the option to disable presets and provide an array of plugins.
- Will

[2016-09-22 04:42] gcphost commented on #3
Pr #4

[2016-09-22 09:11] boopathi commented on #3
This will be done on babili's side as Minifier Options - babel/babili#162

Adding custom plugins apart from babili provided options doesn't sound right IMO. Also, if the user wants selective optimizations / disable one plugin from the preset, then with this approach, s/he has to pass in all other plugins that babili uses - this is just bad.

[2016-10-12 23:36] boopathi opened #8 "Optimizing webpack build with babel & babili"
The current build sequence for a typical webpack project is `transpile -> bundle -> minify`. As babili doesn't traverse through Objects and its properties, there will not be much optimizations on the bundler generated code `(modules[moduleId].call())` other than mangling and whitespace/comments removal. The pipeline can be transformed to `(transpile + minify) -> bundle` - if the bundler already pr

[2016-10-19 02:47] ShimShamSam opened #10 "Add babili as a peer dependency with version *"
As a peer dependency, users are free to install whichever version of babili they want to use, rather than being stuck on the version in this plugin's package.json

[2016-10-25 12:24] #10 closed

[2016-11-08 13:35] filmic opened #12 "Publish new version to npm"
Can you publish new version of the package to npm to bring changes from b6b47d0
( use the newest `babel-preset-babili` )

[2016-11-08 16:59] boopathi commented on #12
👍

[2016-11-08 16:59] #12 closed

[2016-11-26 12:32] boopathi commented on #8
babel/babili#162 is merged 😄 .. I'll start work on this...

[2016-11-27 12:41] boopathi commented on #3
babel/babili#162 is merged.

[2016-11-27 12:41] #3 closed

[2016-11-29 23:07] mohsen1 opened #17 "Without Babel loader this plugin generated minified ES2015 code."
It might be expected behavior but it's not very obvious

[2016-11-29 23:10] boopathi commented on #17
This plugin doesn't transform ES6 to ES5 anywhere. Babili does a few optimizations that result in a few `var`s instead of `let`s. Other than that there are no other ES6->ES5 transformations that I see.

[2016-11-29 23:11] boopathi commented on #17
Oops. Sorry. Read it wrong ... Assumed - ES2015 as ES5.

[2016-11-29 23:18] mohsen1 commented on #17
I'm confused, in this webpack config it does transpile down to ES5 without any babel-loader: https://github.com/blacksonic/typescript-webpack-tree-shaking/blob/master/webpack.es2015.prod.config.js

[2016-11-29 23:22] mohsen1 commented on #17
Oh never mind I can see the `class` keyword in minified code.

[2016-11-29 23:24] boopathi commented on #17
The aim of babili is to support minification for the latest JavaScript standard (from ES5). Transpiling it to your required target language - previous javascript version is upto you. This babili-plugin is just a wrapper over babili.

[2016-11-29 23:53] #17 closed

[2016-12-07 20:40] ronag opened #18 "Release v0.0.8"
babili-preset-0.0.9 has some important fixes...

[2016-12-07 20:41] boopathi commented on #18
You can already pass in a custom version of babili like -

[code]

I'll release this soon.

[2016-12-08 11:12] #18 closed

[2016-12-23 16:32] c10b10 opened #19 "Uncaught ReferenceError: __webpack_require__ is not defined"
My webpack config looks like so:

[code]

[2017-01-18 06:43] beiciye opened #21 "cannot transform into es5?"
Hi, thanks for your effort !

Is there a way to transform minified code into es5 code?

[2017-01-18 10:46] boopathi commented on #21
It's better to convert the code to ES5 and then minify it.

[2017-01-18 15:41] beiciye commented on #21
That's to say,  tree shaking is still not working.

[2017-01-27 09:25] nodaguti commented on #8
Just for your information:

With babel/babili#162 shipped, we can now pass options to Babili through the `babili` property like this:

[code]

[2017-01-27 14:20] #21 closed

[2017-01-27 14:22] boopathi commented on #19
I don't think this is an issue related to this webpack plugin and might be an issue rather with babili itself. There has been lots of fixes recently in babili. Closing it for now.

[2017-01-27 14:22] #19 closed

[2017-01-31 00:32] pavel06081991 opened #23 "source maps issue"
I used devtool: 'source-map' in webpack config and did not use babili-webpack-plugin.
Here are some code of my source file:
[code]
All worked great, I could set breakpoint to line:
`var b = 1024;`
and to line
`console.log(10)`
Also I could see the value of "b" variable during debugging.

But after I added babili-webpack-plugin I can not see the value of "b" variable. Also now I can set breakpoint

[2017-02-06 06:02] jbucaran commented on #1
👋 Hi folks. Whatever happened to moving this plugin to webpack/webpack?

Cheers.

[2017-02-06 22:18] TheLarkInn commented on #1
We could think about moving this into webpack-contrib

[2017-02-16 19:59] rosskevin opened #25 "question: diagnosing production build problems with babili"
I'm not quite sure here where to start, so any guidance would be helpful.  When I build and add the `babili-webpack-plugin`, I receive the following when I use it in the browser:

[code]

## Details

- works in `development` mode (devtool enabled)
- doesn't work when in production
- I dump the webpack configs as a string but minimize the plugin output (for debugging purposes), [here is a gist of t

[2017-02-16 20:02] rosskevin commented on #25
ugh, I just added .babelrc to the gist and see a diff there.  Will remove and try now.

[2017-02-16 20:04] boopathi commented on #25
Looks like a babili error and not babili-webpack-plugin error. You could as well generate a minimal repro case and report it in babili repo.

[2017-02-16 20:06] rosskevin commented on #25
Thanks @boopathi - I just altered the babelrc and same thing.

The problem is that how do I boil down a huge app to a repro case when I really can't read the code. ?

[2017-02-16 20:12] boopathi commented on #25
I agree it is hard to detect these bugs.

You can pretty print the syntax and look around the code where it is throwing the error. And try that part of the code in isolation without the rest of the code. Maybe, it helps for this error.

[2017-02-16 20:24] #25 closed

[2017-03-02 04:03] jknight12882 commented on #23
+1 on this, it is screwing up any ability to set breakpoints and debug

[2017-03-03 08:11] bebraw commented on #1
Any news on the transfer? I understand if you want to retain it under your account. No probs with that.

[2017-03-03 08:48] boopathi commented on #1
Hey. Nothing like that. We can transfer it now.

How do we do it ? Do I give you access to the repo ? or do you give me access to the org for the transfer ?

[2017-03-03 08:56] bebraw commented on #1
@boopathi I invited you to the org so you should be able to rename the repo to complete the transfer. Thanks a lot. 👍

[2017-03-03 09:07] boopathi commented on #1
👍

[2017-03-03 09:07] #1 closed

[2017-03-03 22:02] d3viant0ne opened #28 "JavaScript Foundation License"
The license in this repo needs to be updated at the request of the foundation.

The `LICENSE` needs to be named `LICENSE` ( no extension ) if it isn't already.

The `LICENSE` needs to have the following copy.

[code]

As a request from the JavaScript Foundation to simplify the legal issues, the update needs to be committed by @boopathi

[2017-03-03 22:31] #28 closed

[2017-03-07 00:35] icd2k3 commented on #8
I've tried setting up my webpack plugin config as above, but I still end up with compiled code that is actually larger than just using `uglify-webpack-plugin`... Any ideas of things I could try? I've tried lots of combinations of config/babelrc but each produces a build larger than that of uglify which doesn't seem right?

.babelrc
[code]

webpack.config.js
[code]

[2017-03-08 01:35] mosesoak commented on #8
I'm having the same issue as @icd2k3, the plugin is not doing any basic minification (whitespace removal).

It does seem to be running, since I am using typescript so I need to pass `test: /\.tsx?$/,` in the 2nd parameter for 'overrides' to get it to run without error.

I'm not trying to do any custom configurations, just get basic minification working. Any idea why it would run without error but

[2017-03-08 01:37] mosesoak commented on #8
(I should add that I did not include a .babelrc file in my project since from your docs it seems like I can just used the options/overrides objects in the plugin.)

[2017-03-09 22:23] seansd commented on #8
Yes for me the minify of variables and what not is happening but agree that white space not getting stripped

[2017-03-13 19:07] selbekk opened #32 "How to stop UglifyJS from running on NODE_ENV=production?"
I'm trying to use babili to do my minification instead of uglify whenever I run `webpack -p`.

How do I do that? I can't seem to stop it.

[2017-03-13 20:58] boopathi commented on #32
webpack -p is a shortform for webpack with `defineplugin = NODE_ENV=production` and `uglifyJsPlugin`.. So you should not use webpack -p and use the DefinePlugin and BabiliPlugin in your webpack config.

[code]

[2017-03-13 20:58] #32 closed

[2017-03-14 06:44] selbekk commented on #32
Oh so whenever you run webpack with the -p option Uglify gets run? That's a downer.

Thanks for the swift response! 🙌

[2017-04-09 04:24] d3viant0ne opened #34 "webpack-defaults upgrade"
Addition of `webpack-defaults` & associated refactoring as a part of the next `Major` release

Issue exists for status tracking across the organization.

[2017-04-10 21:03] pavel06081991 commented on #23
Are there any updates on this issue?

[2017-04-20 05:42] michael-ciniawsky opened #36 "Standardize README"

[2017-04-28 19:02] nicolechung opened #37 "Highcharts"
I am having an issue with this plugin and Highcharts.

Unfortunately I can't post an error because there is only a warning about a width and height not being set on the parent container (highstock).

Before, with Uglify, I could get the charts working by not mangling the following.
[code]

I tried something similar with Babli:

[code]

But my charts are not working...I can see and x and y axis but

[2017-04-30 00:48] boopathi commented on #37
Thanks for the report. There are some [debugging tips here](https://github.com/babel/babili/blob/master/CONTRIBUTING.md#debugging) to drill down the error to a small snippet.

I'm closing this since this is not BabiliPlugin related, but might a bug with Babili itself. Feel free to open an issue in Babili with a reproduce-able snippet.

[2017-04-30 00:48] #37 closed

[2017-05-03 20:45] thasmo commented on #21
@boopathi How would we use tree-shaking and transpilation to ES5?

[2017-05-22 02:18] knpwrs opened #38 "Handling Dynamic Imports"
I have the following `.babelrc`:

[code]

This works for my development build, but my production build with this plugin for babili chokes on a dynamic import (complaining about an unexpected token).

Am I doing something wrong? Is this plugin supposed to inherit my `.babelrc` and pick up `babel-plugin-syntax-dynamic-import`.

[2017-05-22 21:59] knpwrs commented on #38
My proposed solution would be either to make this line ( https://github.com/webpack-contrib/babili-webpack-plugin/blob/e379daf125821d3c9ce7fb7e39640be0e7324ae3/src/index.js#L74 ) configurable or add `babel-plugin-syntax-dynamic-import` as a dependency for this plugin. Thoughts?

[2017-05-22 22:26] boopathi commented on #38
Why is the functional import syntax pass through this plugin in the first place ?. Webpack replaces `import()` to something like `__webpack_require__.` and babili sees this. Isn't it?

[2017-05-22 22:27] knpwrs commented on #38
@boopathi see my explanation in #39.

[2017-05-23 05:55] QuentinRoy commented on #23
I have the same kind of issues except that I barely see any source maps at all once I activate the babili plugin... Is it possible that there is an incompatibility between the Babili plugin and ExtractTextPlugin, or handlebars-loader ?

[2017-05-23 12:31] #38 closed

[2017-05-25 15:56] ugo-buonadonna opened #41 "Invalid option "test" bug"
Hi,

When using the plugin like that:
[code]
and then running webpack compilation, this error shows up in the terminal:
`ERROR: Invalid option "test"`

This error is actually thrown by the `babel-preset-babili` module.

I had to revert to the 0.0.11 version in order to make it work again.

I'm using webpack version 2.6.0.

Thanks

[2017-05-29 17:08] szimek commented on #41
Shouldn't it actually be:
[code]
? According to docs it's `new BabiliPlugin(babiliOptions, overrides)`, where [overrides](https://github.com/webpack-contrib/babili-webpack-plugin#overrides) are what you're setting.

[2017-06-08 23:28] damianobarbati opened #43 "Tree shaking not working?"
I'm seeing the full lodash library instead of just the map function in my vendor chunk in the compiled /build/visitor/vendor.min.js.
Shouldn't just the map function be there with the following?
[code]

Repro here => https://github.com/damianobarbati/repro-babili-tree-shaking
To reproduce:
`git clone https://github.com/damianobarbati/repro-babili-tree-shaking`
`yarn install`
`yarn serve:dev` #ctrl+

[2017-06-09 00:06] boopathi commented on #43
This plugin doesn't do TreeShaking.

Aside: You're importing the CommonJS version of lodash where CommonJS is NOT TreeShakable.

You can either use the ESModule version of that - [lodash-es](https://www.npmjs.com/package/lodash-es)

[code]

or you can use [babel-plugin-lodash](https://github.com/lodash/babel-plugin-lodash).

[2017-06-09 00:06] #43 closed

[2017-06-09 00:09] boopathi commented on #41
Closing the issue as it's already answered.

[2017-06-09 00:09] #41 closed

[2017-06-12 23:26] davisford opened #45 "Invalid option 'babili'"
Hi, I've tried several ways to configure this plugin -- I either hit the [Out Of Memory Issue](https://github.com/babel/babili/issues/332) with Babili itself (using all default options), or when I do try to pass options, I consistently get some error about an option property I *thought* was valid, and it doesn't minify or mangle anything.

Here's example output showing the latter:

[code]

I've sc

[2017-06-13 10:03] boopathi commented on #45
The format is

[code]

[2017-06-13 10:03] #45 closed

[2017-06-13 15:17] aseem2625 commented on #8
@boopathi There is a confusion..
[This](https://github.com/webpack-contrib/babili-webpack-plugin/issues/8#issuecomment-275622691) used to work as of version "babili-webpack-plugin": "0.0.11". It has stopped working now. I don't want to have .babelrc file and trying with [this](https://github.com/babel/babili/tree/master/packages/babel-preset-babili#via-node-api) also doesn't help

What's the lates

[2017-06-19 21:38] jason-krypton opened #47 "Request for new release"
`babel-preset-babili` released a new version a few days ago that fixes some breaking bugs. Can we get a new release on babili-webpack-plugin pointing its npm depedencies at 0.1.3?

Thanks!

[2017-06-22 16:07] raitucarp commented on #47
+1

FYI, the new release of babili is 0.1.4.

[2017-06-23 15:38] anilanar commented on #47
Any updates? If you lack time for making releases, I'd be more than glad to help. If there are some concerns for making a new release, it would be great to share them.

[2017-06-23 19:44] evilebottnawi commented on #47
we can do this asap, don't worry

[2017-06-26 17:15] boopathi commented on #47
Published 0.1.2 with babili@0.1.4

[2017-06-26 17:15] #47 closed

[2017-07-05 16:17] rosskevin opened #48 "ERROR in unknown: await is a reserved word"
Perhaps caused by: https://github.com/babel/babel/issues/5873

[code]

[code]

[2017-07-10 10:40] damianobarbati opened #49 "Hangs on additional asset processing"
Works fine without `babili-webpack-plugin`

Repro:
[code]

[2017-07-12 12:46] Holi0317 opened #50 "Add include/exclude options for filtering modules"
UglifyJS webpack plugin provides include/exclude options for filtering module list to be processed.

This can ignore minifying some modules that may have already been minified or will cause bug when passed through babili,

[2017-07-16 03:43] rajchourasia commented on #50
Much needed

[2017-07-17 11:14] evilebottnawi commented on #50
@Holi0317 @rajchourasia thanks, PR welcome :+1:

[2017-07-19 20:38] anthonator opened #52 "Plugin 0 specified in "base" provided an invalid property of "babiliOpts""
I'm receiving the following error when running `babili-webpack-plugin` with the following entry in my webpack config.

[code]

I'm using version 3.3.0 of webpack.

[code]

[2017-07-19 20:54] anthonator commented on #52
Nevermind. User error.

[2017-07-19 20:55] #52 closed

[2017-07-30 14:37] damianobarbati commented on #49
Can anybody help here?
I did set up a very simple repro: all is needed to investigate is a clone, install and `yarn build:prod`
https://github.com/damianobarbati/mdi/tree/v1.0.20

😞

[2017-07-31 23:30] wasd171 commented on #49
I have the same problem :(

[2017-08-02 12:01] damianobarbati commented on #49
can you help us @d3viant0ne?

[2017-08-02 12:05] evilebottnawi commented on #49
@damianobarbati what is exactly hangs in additional asset?

[2017-08-02 12:07] damianobarbati commented on #49
I mean the webpack step ` additional asset processing`
Here the full output for reference.
Thanks for helping @evilebottnawi :)

[code]

[2017-08-02 12:09] evilebottnawi commented on #49
@damianobarbati very strange, wip

[2017-08-02 12:15] evilebottnawi commented on #49
@damianobarbati Which command to run to reproduce problem?

[2017-08-02 12:18] damianobarbati commented on #49
[code]

[2017-08-02 12:19] evilebottnawi commented on #49
@damianobarbati in next please describe this steps in readme, thanks

[2017-08-02 12:20] damianobarbati commented on #49
Got it, sorry for the current broken readme: fixing in next push

[2017-08-02 12:20] evilebottnawi commented on #49
@damianobarbati using your steps, my output:
[code]

[2017-08-02 12:21] evilebottnawi commented on #49
@damianobarbati Can your provide your nodejs version?

[2017-08-02 12:24] damianobarbati commented on #49
Sure thing.
[code]

But @evilebottnawi I'm checking the commands because this is impossible: 3mb of svg files emitted in ~800bytes?

Did you run `yarn build` before `yarn build:prod`? :|

[2017-08-02 12:25] damianobarbati commented on #49
My current output with the steps => 🤔
[code]

[2017-08-02 12:28] evilebottnawi commented on #49
@damianobarbati `yarn build`
[code]

[2017-08-02 12:38] damianobarbati commented on #49
I don't know what's going on with github today, anyway it's not allowing you to download the public repo with icons =>
[code]
And it's not letting me push new commits throwing errors about authentication.

You should have the `/icons` folder in place anyway and `yarn build:prod` should build the dist file: but it's huge, definitely can't be 800bytes!

[2017-08-02 12:40] evilebottnawi commented on #49
@damianobarbati can your change `src/index.js` to one line `export Action3DRotation from '../icons/Action3DRotation';` and try to build?

[2017-08-02 12:42] evilebottnawi commented on #49
@damianobarbati Reproduced, looking for a problem

[2017-08-02 12:44] damianobarbati commented on #49
Great! I did some test, with a bunch of lines it is indeed working: once they're more then ~100 (?) it starts hanging :)

[2017-08-02 13:03] evilebottnawi commented on #49
@damianobarbati seems nothing is hands, using `1000` modules i have `195.32s.` with disabled source maps

[2017-08-02 13:14] damianobarbati commented on #49
@evilebottnawi I have the sourcemaps disabled as well but it never ends the compilation.
Right now it has been stuck at 91% for about 22minutes (since I tried the 1000 and then the full 3000 list).

I'm afraid it's not linear the time required (1k ~ 1min => 3k ~ 3min) but it simply hangs.

And I'm on a 2017 iMac with maxed out "3,6 GHz Intel Core i7-7700" cpu :(

[2017-08-02 13:15] damianobarbati commented on #49
Did you try to compile the full list?
And thanks again for your efforts 🤗

[2017-08-02 13:24] evilebottnawi commented on #49
@damianobarbati i have very power machine in my office `Intel Xeon E5-2699 v4 @ 2.20GHz` 2k icons compiling ~25 min :smile: Seems 3k have ~60-120 min, yep not linear, I think your should search other solution for your purpose, this is not acceptable :disappointed:

[2017-08-02 13:26] damianobarbati commented on #49
oh no... 😔

[2017-08-02 13:27] evilebottnawi commented on #49
@damianobarbati in other hand your can search way to fix performance in babel plugins, but it is hard way :smile:

[2017-08-02 13:28] evilebottnawi commented on #49
@damianobarbati right now my machine is done build:
[code]

[2017-08-02 13:31] evilebottnawi commented on #49
@damianobarbati seems babel plugins for minify have bad performance, your can try `uglify-es` plugin, maybe it is be more faster. I can not do anything else here, I'm sorry.

[2017-08-02 13:33] damianobarbati commented on #49
@evilebottnawi thanks so much for investigating this: at least I know it's just about horse power right now.
I'll try to leave it the whole night compiling, I always killed it in 30-45mins supposing it was stuck.
"sadly" closing this T_T

[2017-08-02 13:33] #49 closed

[2017-08-02 13:34] wasd171 commented on #49
I still think there is a bug somewhere. In my project webpack hangs too, but if I kill the process and check the dist folder, all files seem to be minified

[2017-08-02 13:38] evilebottnawi commented on #49
@wasd171 please provide minimum reproducible test repo? But seems problems not in `babili-webpack-plugin`, most likely somewhere in `babel` plugins.

[2017-08-02 13:41] wasd171 commented on #49
I don't have any other babel plugins. The repo: https://github.com/wasd171/prettier-chrome
Uncomment line https://github.com/wasd171/prettier-chrome/blob/master/webpack.config.js#L29 in `webpack.config.js` and run `npm install && npm run build:prod`

[2017-08-02 13:42] evilebottnawi commented on #49
@wasd171 i will try this in near future, thanks!

[2017-08-02 21:08] damianobarbati commented on #49
@evilebottnawi I managed to compile (~37mins -_-")!

But now how do I exclude that module (already published compiled) from being processed again from Babili plugin in the project including it? :|

[2017-08-02 21:14] evilebottnawi commented on #49
@damianobarbati https://github.com/webpack-contrib/babili-webpack-plugin/issues/50?

[2017-08-02 21:15] damianobarbati commented on #50
+1!

[2017-08-08 17:53] evilebottnawi commented on #48
@rosskevin The problem is still present?

[2017-08-08 18:09] rosskevin commented on #48
I assume this would be fixed now with updated dependencies.

[2017-08-08 18:09] #48 closed

[2017-08-12 06:46] boopathi opened #54 "Name change"
Babili has been renamed to babel-minify - Ref: https://github.com/babel/minify/issues/124 ..

+ [x] Change this project to `babel-minify-webpack-plugin`.
+ [x] Update Travis service
+ [x] Update Appveyor service
+ [x] Update Codecov.io service
+ [x] Publish on npm with new name - after babel-minify is published. I already have the name on npm.

[2017-08-12 07:27] d3viant0ne commented on #54
I'll take care of this shortly

[2017-08-12 07:46] d3viant0ne commented on #54
The standard group needs to be given owner access to the new pacakge. i.e @bebraw & @d3viant0ne

[2017-08-12 07:47] boopathi commented on #54
npm access rights: Done

[2017-08-12 07:50] #34 closed

[2017-08-13 01:19] d3viant0ne commented on #54
Defaults is finished & in master ( seemed a good time to finish given this will be a new major version anyway ).

Given you are far more in the know as to when this is going to be published on the babel side, fire off a new release at your leisure.

[2017-08-14 17:08] andykais commented on #54
need to update readme as well

[2017-08-15 21:03] mgol commented on #54
[babel-preset-minify@0.2.0](https://www.npmjs.com/package/babel-preset-minify) has been published.

[2017-08-17 13:02] pocketjoso opened #57 "Doesn't work with draftjs (react)"
Hi, wanted to move from uglify to babel-minify, but it breaks draftjs in production, even with the simplest boilerplate code.

# Setup

`babili-webpack-plugin@0.1.2` - latest at time of speaking
`draft-js@0.10.1` - latest at time of speaking

Webpack:
[code]

`React` code lifted straight from [draft-js docs](https://github.com/facebook/draft-js#using-draftjs):
[code]

# Output
The code crashes wit

[2017-08-17 13:34] michael-ciniawsky commented on #57
[code]

But just a suggestion not 💯

[2017-08-17 13:56] pocketjoso commented on #57
@michael-ciniawsky well.. yes this is generally how I would write it too, as I said I just copied it from the docs. And should make no difference for this problem?

[2017-08-17 14:08] evilebottnawi commented on #57
@pocketjoso maybe bug in babel plugins? Can your disable one by one babel plugin to exclude it?

[2017-08-17 14:16] michael-ciniawsky commented on #57
@pocketjoso Post your current `webpack.config.js` && `.babelrc` then please :).

[2017-08-17 15:39] boopathi commented on #57
Thanks for reporting.

With the following versions,

[code]

I tried this with latest babel-minify version `0.2.0` and it doesn't throw any errors. I'll close this. Feel free to open the issue in https://github.com/babel/minify if you still have this error as it's a minification error and not related to the webpack plugin.

The latest version of the plugin is not yet published with `0.2.0`. **For

[2017-08-17 15:39] #57 closed

[2017-08-17 15:51] meandmycode commented on #57
FWIW @pocketjoso this should be easy to pick apart, already just looking at the stack trace I can see the issue is likely to be somewhere here:

https://github.com/facebook/draft-js/blob/514490b1322e1c123524eae97d4aea25b4da16ce/src/model/immutable/ContentState.js#L210

Since the stack has J, new J then I'm guessing its an issue within Repeat, as it upcasts function calls to constructor calls:

htt

[2017-08-17 17:25] pocketjoso commented on #57
Okay, I found the issue:

I was still running webpack with the `-p` production flag, which for this context seems to yield these two plugins:
[code]

So it must have been the combination of `uglify` + `babel-minify` that broken it. Without that flag, it works. Thanks for the help - could perhaps be useful to add as a warning somewhere in docs to remind people to stop using `-p` with `babel-minify`

[2017-08-17 18:09] michael-ciniawsky commented on #57
All `p` flag does is set `this.minimize` to `true` (`css-loader`, `html-loader`) and inject `webpack.optimize.UglifyJsPlugin` into the plugins `{Array}`. I discourage it's usage, since an explicit approach in `webpack.config.js` doesn't lead to errors like this

[code]

**webpack.config.js**
[code]

☝️  `===` `webpack -p` && `LoaderOptionsPlugin({ ...legacy })`, but works with all loaders/plugins

[2017-08-18 14:07] xtuc opened #59 "Unusable release on npm"
The release doesn't contain any files, see https://unpkg.com/babel-minify-webpack-plugin@0.0.0/.
Might be related to the recent name change https://github.com/webpack-contrib/babel-minify-webpack-plugin/issues/54.

[2017-08-18 21:29] boopathi commented on #59
Published 🎉

[2017-08-18 21:29] #59 closed

[2017-08-18 22:03] #54 closed

[2017-08-19 03:58] achmadk opened #60 "invalid option topLevel"
I tried to set `topLevel: true` in `minifyOption`. Unfortunately I got error `invalid option topLevel` when bundling. I have checked [this link](https://github.com/babel/minify/tree/master/packages/babel-preset-minify#options), there is no `topLevel` option in `babel-preset-minify`.

Maybe `topLevel` option will be provided in `pluginOpts` in the next release.

[2017-08-19 06:40] xtuc commented on #59
Thanks @boopathi.

[2017-08-19 08:15] boopathi commented on #60
Good catch. Thanks.

It's an option in [mangle](https://github.com/babel/minify/tree/master/packages/babel-plugin-minify-mangle-names#options). It'll be hoisted to `minifyOpts`, but for now only mangler supports it.

Feel free to PR.

[2017-08-23 06:32] danielsmink opened #61 "Newest version not available via NPM / Yarn"
https://www.npmjs.com/package/babili-webpack-plugin

npmjs still has 0.1.2 listed as the newest release. Possibly something is wrong with your commit hooks?

[2017-08-23 06:50] #61 closed

[2017-08-23 06:50] danielsmink commented on #61
Never mind didn't notice the changed name...

[2017-09-10 02:07] exvu commented on #19
Did you solve this problem? I encountered the same problem

[2017-09-10 14:47] evilebottnawi commented on #19
@exvu twice check your plugins and settings for `babel-minify`

[2017-09-10 16:37] yattias commented on #32
Oh man, couple of hours I will never get back!

Thanks `-p` ! 😖

[2017-09-23 00:20] qm3ster commented on #8
Is there really a reason to use this strategy?
So far, I have seen that basically every rule I leave enabled improved bundle size, even without `node_modules` dependencies.
When would you need to optimize for compile time rather than bundle size?

[2017-10-20 08:32] damianobarbati opened #64 "Uncaught TypeError: Class constructor cannot be invoked without 'new' [bug]"
*I'm not sure whether this is a `babel-minify-webpack-plugin` or a `babel-minify` plugin.
I supposed the latter so I reported this bug there (https://github.com/babel/minify/issues/711) but for sake of completeness I'm reporting it here as well in case anybody else is facing the same.*

**What happens?**
It looks like classes are converted to functions instead of ES6 classes. It's not up to module

[2017-10-20 09:10] boopathi commented on #64
This is not a bug with the webpack plugin. I'm closing this here.

[2017-10-20 09:10] #64 closed

[2017-10-22 22:52] #60 closed

[2017-10-23 03:58] hh9527 opened #66 "Update packge.json to support babel-core@7-beta"

[2017-10-25 21:29] Juribiyan opened #67 "In README it is said “falsy value to remove all comments”. Not quite true"
I have set `{comments: null}` (just a personal preference, `null` is a falsy value) in PluginOpts and it broke my build with the `ERROR in unknown: Cannot read property 'test' of null`. I was confused for quite some time untill I guessed to set `comments` explicitly to `false` and it worked.

[2017-10-25 21:36] boopathi commented on #67
Thanks. Good catch.

`typeof null === object`. So it applies a `.test` call thinking it's a regex. Would you like to send a PR?

[2017-11-03 21:59] oyeanuj commented on #8
@boopathi Coming here from the README, and reading through the comments in this thread, I am still unclear on what strategy is recommended? Since the plugin has seen changes in the year since the thread started, could you suggest your current recommendations? Thank you!

[2017-11-09 19:20] dancespiele opened #68 "error with sourcemaps"
I reproduce this issue when I use source maps with this plugin.
My config file:
[code]
The error which I get is this:
[code]
When I use the source maps without this plugin it works fine.

[2017-11-10 00:33] michael-ciniawsky commented on #68
Could you try to provide a small repo with a file/module where this error occurs ? I'm currently debugging this and a failing example would be quite helpful :)

[2017-11-10 09:12] dancespiele commented on #68
Sure @michael-ciniawsky this is the repository https://github.com/pyrite-components/pyrite-prism . You have to install as global **nodemon** and **typescript**. To reproduce the fail you need to execute `npm run production`

[2017-11-15 02:03] simonbuchan commented on #68
In particular, I found `cheap-*` source maps work, e.g. `module-source-map` dies, while `cheap-module-source-map` does not.

[2017-11-24 17:33] MorMundHS-MA opened #69 "UnhandledPromiseRejectionWarning when building"
1. I use the latest Version (v0.2.0).
2. The minimal project is the current(v 1.2.4) [vue webpack template](https://github.com/vuejs-templates/webpack) with this [build config](https://gist.github.com/MorMundHS-MA/3f8536dcdfdc2f75ef1e5c2fecafd45d)

The only changes to the template config file are :
`const MinifyPlugin = require('babel-minify-webpack-plugin')`
and replacing UglifyJs with
` new Mini

[2017-12-04 13:32] ingro commented on #68
Got the same problem, using `cheap-source-map` instead of `source-map` doesn't throw error though.

[2017-12-05 11:32] timwis commented on #68
Just want to chime in that this is happening to me too. Ref webpack/webpack#5931

[2017-12-05 12:15] jamesisaac commented on #69
Duplicate of #68

[2017-12-08 18:53] eliperelman commented on #68
Running `git bisect` on this turns up the following commit:

[code]

[2017-12-12 18:13] bradchoate commented on #68
Also having this problem with the 'source-map' option.

[2017-12-16 16:15] nealoke commented on #68
Just wanted to chip in and say that in my case it doesn't matter if i use the `BabiliPlugin()` or not, as long as I don't have the `"webpack-sources": "1.0.1"` installed it always fails.

Also wanted to provide you with my files used:
- [`package.json`](https://gist.github.com/nealoke/b9adc553b63d09e5be3ef8b012d51fde#file-package-json)
- [`webpack.config.js`](https://gist.github.com/nealoke/b9adc5

[2017-12-18 16:24] Alfredo-Delgado commented on #68
I'm running into the same problem. I worked around it by pinning `babili-webpack-plugin` to `0.1.1`.

cf. https://github.com/webpack/webpack/issues/5931#issuecomment-345214746

[2017-12-20 05:05] manigandham commented on #8
The defaults are just fine now and the *why* section of the readme explains the benefit of doing the minification at the end with babel (works on the entire output and uses modern JS). This is what we have to generate a nicely optimized bundle:

**webpack.config.js**

[code]

**.babelrc**

[code]

[2017-12-31 02:47] avesus opened #71 "Improve the minification speed"
Minification sample: `@angular/core`.

0.2.0 consumes 20 seconds of precious developer time on default settings (unfortunately, I had to use `cheap-module-source-map` and turn off the `devtool: 'source-map'` setting because of the weird bug https://github.com/webpack-contrib/babel-minify-webpack-plugin/issues/68).

Bundling with `UglifyJSPlugin` takes 2 seconds with "generator" settings (`mangle`

[2018-01-02 14:35] BernardA opened #72 "named functions excluded"
The plugin seems to exclude all named functions from minified output.

Without minification the named functions exist in the webpack output, but they are no longer there when the plugin is applied.

This is one instance of a function included in myfile.js:

     `function scrollToAnchor(aid) {
            var aTag = $("a[name='" + aid + "']");
           $('html,body').animate({
               scr

[2018-01-03 01:08] boopathi commented on #71
This issue is not related to this webpack plugin. I'll close this here. We are already working on improving babel-minify's performance and babel-7 upgrade. Feel free to open issues in babel-minify repository for babel-minify related issues.

Thanks!

[2018-01-03 01:08] #71 closed

[2018-01-04 05:19] saiichihashimoto commented on #68
So what's going on here? It seems like a breaking commit has been identified and that, most of the time, `cheap-*` avoids the problem while others don't. Do we need more repro examples?

[2018-01-04 06:20] simonbuchan commented on #68
I'd guess cheap-* "fixing" it is since IIRC that disables minification source mapping (not much point mapping line-by-line if you only output one line!), but that doesn't narrow it down much. Seems there are plenty of references to this, so probably plenty of repro cases, just needs someone to spend the time on it.

[2018-01-04 07:55] arbaaz commented on #68
I'm also facing this issue.

[2018-01-04 22:34] damianobarbati commented on #50
Anybody able to give a stab at this? 😅

[2018-01-05 10:18] evilebottnawi commented on #50
@damianobarbati wip

[2018-01-05 10:37] misantronic opened #74 "Problem in strict-mode with ejs-templates"
In my project I use ejs-template which are compiled with `_.template` which makes use of the `with`-statement. This is not allowed in strict-mode so obviously babel-minify fails. Is there a way to tell babel to ignore this?

[2018-01-05 11:14] evilebottnawi commented on #50
@damianobarbati done in https://github.com/webpack-contrib/babel-minify-webpack-plugin/pull/75

[2018-01-11 12:09] alshakero opened #76 "A joined array of ES6 template literals is minfied uncorrectly"
Hi! Thank you for the awesome package. I've been using it for a long time and it's been great. Today I stumbled upon this issue.

#### Node version

[code]
#### OS: Windows 10

This:
[code]
Is minified to this:

[code]
#### Whole bundle

[code]

#### Reproduction repo

https://github.com/alshakero/webpack_bug

#### Reproduction steps

1. Clone the repo above.
2. Run `npm install`.
3. Run `npm run

[2018-01-21 09:21] kettanaito opened #77 ""mangle.exclude" doesn't seem to exclude the namespaces"
Hi. I'm using the latest version of this package - `0.2.0`.

## Issue
Providing `mangle.exclude` doesn't exclude the given class/method names from being mangled.

## Minify options
[code]

## Environment
* **Node:** v6.9.5
* **OS:** MacOS Sierra (10.12.6 (16G29))

## Reproduce
1. Clone/fork [my repository](https://github.com/kettanaito/react-advanced-form/tree/dev/bundle-size).
2. Checkout to `dev

[2018-01-31 13:37] #50 closed

[2018-02-02 09:04] damianobarbati commented on #66
+1 for this one :)

[2018-02-02 09:49] evilebottnawi commented on #66
@hh9527 @damianobarbati how stable `beta`?
@michael-ciniawsky Maybe best add `babel-` as peer deps to allow install own version?

[2018-02-02 09:57] evilebottnawi commented on #66
@damianobarbati if we add `babel-*` as peer dep it is minor release, if we upgrade minimum version it is major release. It is necessary to hear the opinions of others in order to decide how best to do it, but thanks for the quick reply :+1:

[2018-02-02 10:52] evilebottnawi commented on #66
Also please vote :+1: for this feature. This will speed up shipped.

[2018-02-02 11:05] evilebottnawi commented on #72
@BernardA plugin don't do minification directly, we just use [babel-preset-minify](https://github.com/babel/minify/tree/master/packages/babel-preset-minify), please create issue there. Thanks!

[2018-02-02 11:05] #72 closed

[2018-02-02 11:07] evilebottnawi commented on #76
@alshakero Thanks for detailed issue! But we don't do minification directly, we just use https://github.com/babel/minify/tree/master/packages/babel-preset-minify, seems something have bug. Please create issue there.

[2018-02-02 11:07] #76 closed

[2018-02-02 11:08] evilebottnawi commented on #68
Problem still exists?

[2018-02-02 11:09] evilebottnawi commented on #74
@misantronic Thanks for issue, but not related to this repo. Please create this issue here https://github.com/babel/minify/tree/master/packages/babel-preset-minify

[2018-02-02 11:09] #74 closed

[2018-02-02 11:10] evilebottnawi commented on #69
Closing because duplicate. Thanks for issue!

[2018-02-02 11:10] #69 closed

[2018-02-02 11:12] evilebottnawi commented on #77
@kettanaito Thanks for issue, you just use invalid configuration - use `minifyOptions: { ... }` for `mangle` option, see https://github.com/webpack-contrib/babel-minify-webpack-plugin#pluginopts

[2018-02-02 11:17] arbaaz commented on #68
I commented out BabiliPlugin and it was working.
[code]

[2018-02-02 11:20] evilebottnawi commented on #68
@arbaaz Incredible solution :trollface:

[2018-02-02 11:40] tarjei commented on #68
I feel a bit bad about saying this, but I changed to Uglify-es and got very good results both wrt to compilation speed and sourcemaps.

[2018-02-02 11:49] evilebottnawi commented on #68
@tarjei i near future i implement `cache` and `parallels`, first we need fix bugs

[2018-02-02 11:56] tarjei commented on #68
@evilebottnawi  👍

[2018-02-02 13:30] kettanaito commented on #77
@evilebottnawi thanks for the reply!

To be honest, I would like to see at least one working example. Even what you've posted right now doesn't make much sense to me:

Here's how to use the plugin from its README:
[code]

How I'm using it:
[code]

You suggest I should use `minifyOptions`, which I do - that's the Object which the plugin accepts as the first argument, isn't it?

`removeConsole` and

[2018-02-02 13:39] evilebottnawi commented on #77
@kettanaito sorry, you are right, you have valid config, i reopen issue, but seems it is not related to plugin, we just pass option to `babel` using `babel-preset-minify`

[2018-02-02 13:41] kettanaito commented on #77
@evilebottnawi thanks!

Regardless, what do you think about adding at least one real-world example to this repo? That would help a lot, from my experience.

[2018-02-02 13:49] evilebottnawi commented on #77
@kettanaito agree, PR welcome, many work right now

[2018-02-03 16:44] le93us opened #78 "breaks bundling"
Hello,
[code]

leads to
[code]

If disable plugin, all works ok.

Can someone help?

[2018-02-05 09:30] evilebottnawi commented on #78
@le93us Thanks for issue. Duplicate https://github.com/webpack-contrib/babel-minify-webpack-plugin/issues/68, can you create minimum reproducible test repo and put in issue  https://github.com/webpack-contrib/babel-minify-webpack-plugin/issues/68?

[2018-02-05 09:30] #78 closed

[2018-02-05 12:20] le93us commented on #68
@evilebottnawi
I have the similiar problem,  and here is [demo](https://github.com/le93us/bug-demo-babel-minify-webpack-plugin).

[2018-02-05 12:22] evilebottnawi commented on #68
@le93us thanks!

[2018-02-07 16:52] evilebottnawi commented on #68
We upgrade `babel-preset-minify` from `0.2.0` to `0.3.0`, in theory it can be solve this problems. Somebody can check problem again?

[2018-02-07 17:19] ojab commented on #68
Still the same error here after `yarn upgrade babel-minify-webpack-plugin` (`babel-preset-minify@^0.3.0` in dependencies).

[2018-02-07 17:22] evilebottnawi commented on #68
@ojab Thanks!

[2018-02-07 22:37] Fzzr commented on #68
I can reproduce the above as well. I am working around it by adding an explicit dependency on `"webpack-sources": "1.0.1"`. Before I did this was using `"webpack-sources": "1.1.0"` in the generated `package-lock.json`.

My config file is virtually identical to the one given in the first comment.
`node`: v8.9.4
`npm`: v5.6.0

[2018-02-10 07:04] le93us commented on #68
`0.3.0`

Problem is not solved.

[2018-02-13 21:10] Donskelle commented on #68
Having same issue

[2018-02-14 01:32] blittle commented on #68
I was also able to work around the problem by forcing `webpack-sources` from `1.1.0` to `1.0.1`. Thank you @Fzzr

[2018-02-14 11:24] ojab commented on #68
AFAIU 1.1.0 is the last version for `webpack-sources`, the issue is reproducible with it.

[2018-02-14 17:28] joe1chen commented on #32
Damn this hit me as well. Spent several hours trying to figure this one out.

[2018-02-24 09:36] mrslimslim commented on #52
Hello ,I came cross the error.What exactly is the User error?

[2018-02-25 13:05] damianobarbati opened #80 ""parallel" options to leverage multiple cores [feature request]"
Dealing with webpack@4 migration and investigating uglify-es I noted the following: https://github.com/webpack-contrib/uglifyjs-webpack-plugin#parallel

Would this feature be possible too here?
I'm not sure whether it really means any improvement when minifying a "unique" big bundle or if it's just intended as parallel minifying of "smaller independent bundles/chunks".

[2018-02-25 14:12] damianobarbati commented on #68
@evilebottnawi I tried both `webpack-sources@1.1.0` and `webpack-sources@1.0.1`, still having:

[code]

[2018-03-09 21:08] edmorley commented on #68
@d3viant0ne as the author of the [regressing commit](https://github.com/webpack-contrib/babel-minify-webpack-plugin/commit/d0a724cec766ea5fbea9ecc514d38f7fd2ee3735) (see bisect in https://github.com/webpack-contrib/babel-minify-webpack-plugin/issues/68#issuecomment-350342659) - I don't suppose you have any ideas as to what might have caused this? :-)

[2018-04-06 09:54] KrofDrakula commented on #68
Are there any updates on this to share? We're trying to use babel-minify as we're building for modern browsers, and we'd like to avoid having to go back to transpiling to ES5 in order to use Uglify in place of this plugin.

[2018-04-06 10:01] ojab commented on #68
uglify-es supports es6 syntax btw (but be aware of https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/262)

[2018-04-06 10:13] evilebottnawi commented on #68
Right now i will develop `minimizer-webpack-plugin` (he has cache/parallels/etc nice features) and have buildi-in `uglify-es-minimizer-driver`, `uglify-js-minimizer-driver` and `babel-minify-minimizer-driver`. Also he will support custom `custom-minimizer-driver`, example for css/images/etc. What is `minimizer-driver`? It is just one function. It is allow write custom minimizer drivers inside webp

[2018-04-29 14:01] satazor opened #82 "Error: original.line and original.column are not numbers"
Hello!

I was trying this minifier as an alternative to uglify in webpack but I'm hitting some issues with source maps:

[code]

List of `devtool` values that are failing:

- nosources-source-map
- hidden-source-map
- inline-source-map
- source-map

If you want to reproduce the issue, clone https://github.com/moxystudio/react-with-moxy and https://github.com/moxystudio/react-with-moxy/blob/54f575f

[2018-04-30 11:04] evilebottnawi commented on #82
@satazor we have many problem with source maps and babel-minify https://github.com/webpack-contrib/babel-minify-webpack-plugin/issues/68, looks like another bug from `babel-minify`. I think will be good create his issue in babel-minify

[2018-04-30 11:27] satazor commented on #82
I will be subscribing to that issue, thanks!

Closing this out.

[2018-04-30 11:27] #82 closed

[2018-06-20 22:48] #36 closed

[2018-07-05 09:30] akos-sereg commented on #32
me too :/

[2018-08-23 08:07] bj00rn commented on #66
@evilebottnawi  Any progress on this?

Release 7 is coming soon https://twitter.com/left_pad/status/1031700991186489344

[2018-08-23 09:46] evilebottnawi commented on #66
@bj00rn will be release in near future

[2018-08-29 10:10] evilebottnawi commented on #66
@ogonkov it is require rewrite some logic

[2018-09-04 17:03] dangodev opened #83 "Babel 7 Support"
This plugin still depends on babel-core 6.23. Any possibility of updating to `@babel/core` instead?

[2018-09-04 17:10] evilebottnawi commented on #83
@dangodev please wait new release (will be in near future)

[2018-09-06 12:16] jbelien commented on #68
Any fix / workaround available for this issue ?

---

I did the same but it's a bit unfortunate ...

[2018-09-23 06:58] ad1992 commented on #67
@boopathi can I take this up?

[2018-11-01 22:51] Pushplaybang commented on #68
@jbelien  - use uglify.   thats what I'm doing.

[2018-11-02 17:07] indeyets commented on #83
@evilebottnawi any news?

[2018-12-21 21:39] codejamninja commented on #19
@exvu, what do you mean? I am having the same problem.

[2019-01-10 21:23] chiqui3d opened #84 "Banner comment is removed"
Some idea of how to do not delete the comments I created with the plugin banner.
By the way I do not have the option comment a false, and the format of my comment is as follows:

[code]

[2019-01-28 21:42] hershmire commented on #83
Does this plugin still not support Babel 7?

[2019-01-29 03:33] ztyzbb commented on #83
wangqs1990‘s solution works well.

[2019-01-29 03:34] ztyzbb commented on #83
@hershmire wangqs1990‘s solution works well.

[2019-02-04 16:31] brion commented on #83
I'm not so sure this is stable with babel 7.2.2 and webpack 4.29... Using the above workaround I get:

[code]

If I add to the plugin options `removeUndefined: false` it works around that, but then something else fails:

[code]

[2019-02-04 16:46] evilebottnawi commented on #83
Sorry, don't have time on this right now, my todo list is very big :disappointed:

[2019-03-15 07:19] Cherviakov opened #87 "Js heap out of memory"
Linux-Mint-18 4.15.0-46-generic #49~16.04.1-Ubuntu
node v11.1.0
webpack@4.29.6
babel-minify-webpack-plugin@0.3.1

Uncompressed bundle size: 11.6 MiB

Prod config ony adding NODE_ENV=production, mode=production, devtool=none and babel-minfy-webpack-plugin.

Build fails with nodeJS heap out of memory.

[code]

[2019-03-18 12:23] gknapp commented on #83
I'm seeing:

[code]
config:
[code]

I've tried a variation, copying @wangqs1990 suggestion, same result:

[code]

[2019-03-31 19:53] Lange commented on #68
Hi there, I'm the person who added this error to `source-map` in https://github.com/mozilla/source-map/pull/265. It looks like I didn't do a good enough job in explaining how to fix this error, I apologize for all the ruckus it has caused.

This error was added because, without it, `source-map` would silently output inaccurate mappings. I figured that a hard error was better than an inaccurate map

[2019-04-01 12:48] jsauca commented on #83
Hi @gknapp,

I am experiencing the exact same isssues as you with Webpack 4.29.6 and Babel 7.
Have you found any fixes or any ways to bypass those errors messages ?

[2019-04-08 20:54] etagwerker commented on #87
I can confirm that this error is happening to me too:

[code]

So I don't think it's an isolated incident.

[2019-04-12 14:28] dractw commented on #87
Bump the same issue

[2019-04-12 14:39] evilebottnawi commented on #87
Leak in babel babel-helper-mark-eval-scopes

[2019-04-16 03:33] Dhalsimzhao opened #88 "Configuration with react"
Can anyone please give me an example of using this plugin with React?
Have no idea about how to configure it, thanks!

[2019-04-16 14:54] gknapp commented on #83
@jsauca I aborted switching to this plugin for minification and returned to `uglifyjs-webpack-plugin`.

I read this plugin produced better minified code but couldn't get it to work. Chrome inspector's coverage reports drove me to try and seek smaller build sizes - it appears to be somewhat common for reactjs based web app to only have ~50% code coverage / usage.

I've read including `node_modules`

[2019-04-21 11:36] theaklair commented on #83
Looks like I have kind of similar issue as @gknapp has, breaks on adding @babel/core as custom 'babel' field value.

`"webpack": "^4.29.6"` , `"@babel/core": "^7.4.3"`

[2019-04-23 16:39] gknapp commented on #83
I tried this and other various tweaks to try and eliminate any unused code. I already had webpack in production mode, I found no difference in bundle size by including `node_modules`.

[2019-05-15 08:24] evilebottnawi commented on #88
Please use stackoverflow or gitter for questions

[2019-05-15 08:24] #88 closed

[2019-06-04 20:40] poseidonphp commented on #87
Is there something i can do in my environment to fix this? Or does it need to be fixed in the babel package? If it's out of my control, is there an ETA for an available fix/patch?

[2019-06-24 09:21] apurvapunde commented on #87
i am also facing this issue, please help

[2019-07-30 18:06] Haraldson commented on #83
I would like to re-enable this plugin, but whenever I do, and try to build, the build process just gets stuck in limbo without any output. Is this issue being worked on?

[2019-08-13 17:18] ramsunvtech commented on #49
Below settings helped me to reduce the heap memory since it will not include the sourceMap file.

[code]

or below code will help for latest webpack uglify plugin.

[code]

If this still not help to fix the problem. below command helps to increase heap memory and answer link to know more about heap memory is below as well.

[code]

https://stackoverflow.com/a/57480923/1533666

[2019-10-29 00:01] dmt0 commented on #87
Build worked for me using `NODE_OPTIONS="--max-old-space-size=4096"` environment variable, even though it took excruciatingly long time. Setting it to a higher value doesn't seem to help.